@CHARSET "ISO-8859-1";

body {
	height: 100%;
	background-image: url("../image/background.jpg");
	background-repeat: no-repeat;
	background-position: top;
}

.bubble {
	position: absolute;
	display: block;
	font-family: 'Luckiest Guy', cursive;
	background-image: url("../image/bubble.png");
	height: 217px;
	width: 217px;
	font-size: 70px;
	vertical-align: middle;
	text-align: center;
	line-height: 217px;
	color: white;
	vertical-align: middle;
	cursor: pointer;
}